.curved-loop-jacket {
  width: 100%;
  overflow: hidden;
  padding: 0rem 0;
}

.curved-loop-svg {
  width: 100%;
  height: 220px;
  display: block;
  margin-bottom: 5rem;
  margin-top: 4.5rem;
}

/* Fixed readable size */
.portfolio-curved-text {
  fill: #C4B5FF;
  font-size: 7rem;
  font-family: 'Lufga', sans-serif;
  font-weight: 300;
  letter-spacing: 0.08em;
  white-space: nowrap;
}

/* Tablet */
@media (max-width: 1024px) {
  .curved-loop-svg {
    height: 200px;
  }
  .portfolio-curved-text {
    font-size: 8rem;
}
}

/* Mobile */
@media (max-width: 600px) {
  .curved-loop-svg {
    height: 180px;
  
  }
  .portfolio-curved-text {
    font-size: 12rem;
  }
}
