@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;600;700;800&display=swap");

:root {
  --text: #0f172a;
  --muted: #64748b;
  --border: #e5e7eb;
  --hero-bg: #f4f4ff;

  --page-width: 1440px;
  --content-width: 720px;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Epilogue", system-ui, sans-serif;
  color: var(--text);
  line-height: 1.7;
}

.case-study {
  max-width: var(--page-width);
  margin: 0 auto;
  /* padding-bottom: 120px; */
}

/* HERO */
.bm-hero {
  padding: 120px 24px 100px;
  text-align: center;
}

.ingate-hero {
  background: var(--hero-bg);
}

.bm-eyebrow {
  font-size: 14px;
  font-weight: 600;
  color: var(--muted);
  margin-bottom: 16px;
}

.bm-hero h1 {
  font-size: 56px;
  line-height: 1.15;
  letter-spacing: -0.02em;
  max-width: 760px;
  margin: 0 auto 24px;
}

.bm-hero-sub {
  font-size: 18px;
  color: var(--muted);
  max-width: 640px;
  margin: 0 auto;
}

/* META */
.bm-meta {
  max-width: 960px;
  margin: 72px auto 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  text-align: center;
}

.bm-meta h4 {
  font-size: 14px;
  font-weight: 600;
  color: var(--muted);
}

/* SECTIONS */
.bm-section {
  max-width: var(--content-width);
  margin: 120px auto;
  padding: 0 24px;
}

.bm-section h2 {
  font-size: 32px;
  margin-bottom: 24px;
}

.bm-section p,
.bm-section li {
  color: var(--muted);
}

.bm-list {
  padding-left: 18px;
}

.bm-image {
  width: 100%;
  margin-top: 40px;
  border-radius: 16px;
  border: 1px solid var(--border);
}

.vm-img {
  width: 100%;  
   margin-top: 40px;
}

/* IMPACT */
.bm-impact {
  display: flex;
  gap: 24px;
}

.bm-impact div {
  flex: 1;
  background: #f9fafb;
  padding: 24px;
  border-radius: 16px;
  text-align: center;
}

.bm-impact strong {
  font-size: 28px;
  font-weight: 800;
  display: block;
}

/* TAKEAWAY */
.bm-takeaway {
  background: #f8fafc;
  padding: 80px 24px;
  border-radius: 24px;
}

/* FOOTER */
.bm-footer {
  text-align: center;
  margin-top: 120px;
  margin-bottom: 120px;
}

.bm-footer button {
  padding: 12px 36px;
  border: 2px solid var(--text);
  background: #C4B5FF;
  font-weight: 600;
  cursor: pointer;
}

@media (max-width: 900px) {
  .bm-meta {
    max-width: var(--content-width);
    margin: 72px auto 0;
    padding: 0 24px;

    display: grid;
    grid-template-columns: 1fr; /* one by one */
    gap: 20px;

    text-align: left;
  }

  .bm-impact {
    flex-direction: column;
  }

  .bm-section {
    max-width: var(--content-width);
    margin: 72px auto;
    padding: 0 24px;
  } 
}
